<div class="col-3">

  <div class="flex-shrink-0 p-3 bg-white sticky-top" style="width: 280px;">
    <span href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
      <svg class="bi pe-none me-2" width="30" height="24">
        <use xlink:href="#bootstrap"></use>
      </svg>
      <span class="fs-5 fw-semibold">Contents</span>
    </span>
    {% assign chapters = site.posts | group_by: 'chapter' | reverse %}
    {% for chapter in chapters %}
    <ul class="list-unstyled ps-0">
      <li class="mb-1">
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
          data-bs-toggle="collapse" data-bs-target="#chapter-{{ chapter.name }}-collapse" aria-expanded="true">
          Chapter {{ chapter.name }}
        </button>
        <div class="collapse show" id="chapter-{{ chapter.name }}-collapse">
          <ul class="btn-toggle-nav list-group fw-normal pb-1 small">
            {% assign items = chapter.items | sort: 'date' %}
            {% for item in items %}
            <li class="list-group-item {%if page.url == item.url %} active{% endif %}"><a href="{{ item.url }}" class="link-dark d-inline-flex text-decoration-none rounded">{{ item.title
                }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </li>

      <li class="border-top my-3"></li>
    </ul>
    {% endfor %}
  </div>
</div>