<div class="row bg-dark">
  <div class="col"></div>
  <div class="col-8">

    <div class="top-background bg-image">
    </div>
  </div>
  <div class="col"></div>
</div>

<header>

  <nav class="navbar navbar-expand-xl d-flex fixed-top p-0">
    <div class="container-fluid bg-light">
      <h1 class="text-dark h3">A Young Orangutan's Notebook - {{ page.title }}</h1>
      <ul class="navbar-nav">
        {% for item in site.data.topmenu %}
        <li class="nav-item">
          <a href="{{ site.baseurl }}{{ item.link }}" class="nav-link{%if page.url == item.link %} active{% endif %}">
            {{ item.name }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </nav>
</header>