---
layout: default
---

<h3>{{ page.title }}</h3> 
<hr>
<p class="small">{{ page.content | number_of_words }} words, Published on {{ page.date | date_to_string }}</p>
<p class="small">Categories: {{ page.categories }}</p>
<hr>
<p class="post-content">
{{ content }}
</p>

<div class="row">
  <div class="col">
    {% if page.previous.url %}
    <a class="prev link-unstyled" href="{{ site.baseurl }}{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
    {% else %}
    [No previous page]
    {% endif %}
    |
    {% if page.next.url %}
    <a class="next text-right" href="{{ site.baseurl }}{{page.next.url}}">{{page.next.title}} &raquo;</a>
    {% else %}
    [No next page]
    {% endif %}
  </div>
</div>